useDynLib(tsforeign,.registration = TRUE)
import("methods")
import("tsmethods")
import("data.table")
importFrom("utils", "head","tail","setTxtProgressBar", "txtProgressBar")
importFrom("tsaux","do.call.fast","box_cox","check_xreg","check_newxreg","mape","mslre","mase","bias","mis","future_dates","sampling_frequency","fourier_series")
importFrom("stats","median","na.omit","fitted","coef","quantile","residuals","predict","as.formula","rpois","runif","rnorm", "acf", "optim", "qnorm", "sd","simulate","arima.sim",
           "diffinv", "ts", "tsp", "tsp<-","na.contiguous","var","alias", "deviance", "df.residual", "formula", 
           "hat", "lm", "model.matrix", "pchisq", "pf", "vcov", "weights","logLik","pnorm","frequency", "window")
importFrom("zoo","index","as.zoo","zoo","coredata","na.locf","na.fill")
importFrom("grDevices", "n2mfrow")
importFrom("dlm", "dlmModARMA","dlmModTrig","dlmModSeas","dlmModPoly","dlm","dlmFilter","dlmSmooth","dlmForecast")
importFrom("graphics", "layout", "lines", "par", "plot","grid", "legend", "mtext")
importFrom("xts","xts","as.xts","is.xts","endpoints")
importFrom("forecast","auto.arima","forecast","getResponse","BoxCox","InvBoxCox")
importFrom("mvtnorm","rmvnorm")
importFrom("tools","toTitleCase")
importFrom("coda","as.mcmc")
importFrom("foreach","foreach","%do%","%dopar%","registerDoSEQ")
importFrom("doParallel","registerDoParallel")
importFrom("snow","makeCluster","stopCluster")
importFrom("doSNOW","registerDoSNOW")
import("coda")
importFrom(Rcpp,evalCpp)
importFrom(Rcpp,loadModule)
importFrom("bsts","AddLocalLinearTrend","AddLocalLevel","AddSeasonal","bsts","SuggestBurn","AddTrig","AddSemilocalLinearTrend","AddAutoAr","bsts.prediction.errors","BstsOptions")
export("arima_modelspec","bsts_modelspec","bsts_posterior","bsts_final_state","bsts_full_states")
S3method("estimate","arima.spec")
S3method("estimate","bsts.spec")
S3method("fitted","arima.estimate")
S3method("fitted","bsts.estimate")
S3method("residuals","arima.estimate")
S3method("residuals","bsts.estimate")
S3method("tsdecompose","bsts.estimate")
S3method("tsdecompose","bsts.predict")
S3method("plot","bsts.estimate")
S3method("plot","arima.estimate")
S3method("summary","arima.estimate")
S3method("summary","bsts.estimate")
S3method("predict","arima.estimate")
S3method("predict","bsts.estimate")
S3method("tsbacktest","bsts.spec")
S3method("tsbacktest","arima.spec")
S3method("tsconvert","bsts.estimate")
S3method("tsmetrics","arima.estimate")
S3method("tsmetrics","bsts.estimate")